body {
  background-color: #607d8b;
}

nav {
  background-color: #607d8b;
}

nav i {
  color: paleturquoise;
}

nav li {
  color: white;
}

.my-name-sm {
  font-size: 1rem;
  font-weight: 600;
}

.my-name-md {
  font-size: 2rem;
  font-weight: 900;
  /* text-shadow: 3px 0px 2px #000; */
  text-shadow: 3px 6px 2px #000;
}

#about-me {
  background: url("../imgs/pbg.jpg");
  color: paleturquoise;
}

#projects {
  background: url("../imgs/360_F_451399234_4ue5KX3bU2XKlgqFCJPd3Tsgv6cuLDLM.jpg");
}

#contact {
  background: url("../imgs/contact_us_illustration.png");
}

/* .about-me .jumbotron { */
/* background: url("../imgs/noah.jpg"); */
/* } */
.about-me {
  color: paleturquoise;
}

#about-me,
#projects,
#contact,
.about-me .jumbotron {
  /* background: linear-gradient(blue, purple); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#about-me img {
  border: 3px solid paleturquoise;
}

h2 {
  color: orangered;
  text-shadow: 3px 0px 2px paleturquoise;
  font-weight: 600;
}
.view-more {
  border-color: paleturquoise;
  color: paleturquoise;
}

#projects .card,
#all-projects .card {
  border-color: paleturquoise;
  border-width: 3px;
}

.card-img-top {
  height: 16rem;
  width: 100%;
}
/* #projects .card { */
/*   background: linear-gradient(black, paleturquoise); */
/*   background-repeat: no-repeat; */
/*   background-position: left; */
/*   background-size: cover; */
/* } */

.card-btn {
  size: 1rem;
}

#coding-profiles {
  background-color: wheat;
}

/*.section {
  background-image: url('your-background-image.jpg'); 
  background-size: cover;
  position: relative;
}*/

#contact input,
#contact textarea {
  background-color: transparent;
  background: transparent;
  backdrop-filter: blur(2px);
  color: blue;
  text-shadow: 0px 0px 1px #fff;
  font-family: monospace;
}

#accordionFlushFAQs *,
#liveToast {
  background-color: #607d8b;
  color: paleturquoise;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.custom-btn-sec {
  color: paleturquoise;
  border: 1px solid paleturquoise;
}

.list-group-item-action {
  background-color: #607d8b;
}

.about-me {
  border-left: 1px solid paleturquoise;
  border-top: 1px solid paleturquoise;
  border-radius: 5px;
}

.about-me-content p {
  border-left: 2px solid orange;
  padding-left: 1%;
}
/* .display-4 { */
/*   display: none; */
/* } */
/* .typer { */
/*   display: block; */
/* font-size: 90px; */
/* white-space: nowrap; */
/* overflow: hidden; */
/* animation: */
/*   typewriter 5s steps(13) forwards, */
/*   blink 800ms steps(13) 2 normal forwards; */
/* border-right: 5px solid blue; */
/* } */
/**/
/* @keyframes typewriter { */
/*   from { */
/*     width: 0%; */
/*   } */
/*   to { */
/*     width: 100%; */
/*   } */
/* } */
/**/
/* @keyframes blink { */
/*   0%, */
/*   100% { */
/*     border-color: black; */
/*   } */
/*   50% { */
/*     border-color: transparent; */
/*   } */
/* } */

/* .txt { */
/*   display: flex; */
/*   align-items: flex-end; */
/* } */
