{% extends "base.html" %} {% block content %}
<div class="container mt-5 about-me">
  <div class="jumbotron">
    <h1 class="display-4" style="color:orange">About Me</h1>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4">
        <img
          src="{{url_for('static',filename='imgs/abt_top.jpg')}}"
          class="img-fluid border border-warning rounded"
        />

      </div>
      <div class="col-12 col-md-6 col-lg-7  d-flex align-items-center justify-content-center">
        <p class="lead">
          Hello, I'm Kibuule Noah, a passionate and dedicated programmer with a love
          for turning ideas into functional, elegant solutions.
        </p>
      </div>
    </div>
  </div>

  <section class="m-2 about-me-content">
    <section class="hidden">
      <p>Since I started coding, I've been fascinated by the many things you can do with it. It all began in high school when I discovered the computer terminal, which looked really cool with its dark colors and font. Learning about commands like "rm" (remove) made me feel like a computer wizard. From there, I explored more commands like "cp" (copy) and "mv" (move). Eventually, I learned about Python, then C, and later JavaScript. Now, I create professional software, systems, and web apps.</p>
    </section>

    <section class="hidden">
      <p>I've developed my skills in Python, Go, C, JavaScript, machine learning, and writing efficient code. I specialize in frontend and backend development, system design, database management, scripting, and task automation. I enjoy working with Linux, macOS, and Android, using tools like React, Flask, MySQL, Kivy, Pygame, scikit-learn, and BeautifulSoup.</p>
    </section>

    <section class="hidden">
      <p>I'm particularly interested in backend development and machine learning because of their fascinating logic and algorithms. I'm always eager to explore new technologies and possibilities.</p>
    </section>

    <section class="hidden">
      <p>When I code, I prioritize making my code easy to understand by using clear variable and function names. This helps other developers on my team and anyone reading or modifying my code to quickly understand and work with it, which boosts productivity.</p>  </section>
    </section>

    <section class="hidden">
      <p>
        I'm always open to new opportunities and collaborations. Feel free to
        reach out to me. Let's connect and create something amazing together!
      </p>
    </section>
  </section>
</div>

{% endblock %}
