{% extends "base.html" %} 
{% block title %}Home{% endblock %}
{% block content %}
    <!-- About Me Section -->
    <section id="about-me" class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-lg-4 text-center">
            <!-- Centered Image -->
            <img
              src="{{url_for('static',filename='imgs/noah.jpg')}}"
              class="img-fluid rounded-circle"
              alt="Your Image"
            />
          </div>
          <div class="d-flex d-md-none col align-items-center justify-content-center mb-3 my-name-md">
            KIBUULE NOAH
          </div>
          <div class="d-none d-md-flex col-md-6 col-lg-7 align-items-center justify-content-center my-name-md">
            KIBUULE NOAH
          </div>
        <div class="row">
          <h2>@<span class="tail"></span></h2>
        </div>
        </div>
          <div class="row quick-links">
            <div class="col"><a href="https://github.com/KibuuleNoah" style="color:paleturquoise"><i class="bi bi-github"></i></a></div>
            <div class="col"><a href="tel:+256752983087" style="color:paleturquoise"><i class="bi bi-whatsapp"></i></a></div>
            <div class="col"><a href="" style="color:paleturquoise"><i class="bi bi-envelope"></i></a></div>
            <div class="col"><a href="tel:+256752983087" style="color:paleturquoise"6><i class="bi bi-telephone"></i></a></div>
            <div class="col"><a href="" style="color:paleturquoise"><i class="bi bi-youtube"></i></a></div>
          </div>

        <div class="row">
          <div class="col-lg-6">
            <h2 class="display-4 typer">About Me</h2>
            <p class="lead">
              Hello, I'm Kibuule Noah, a passionate computer programmer with
              expertise in Frontend,Backend and Systems. I have 2 years of experience, and
              I'm dedicated to creating efficient and innovative solutions.
              Let's turn ideas into reality!
            </p><a href="#">know more...</a>
          </div>
          <div class="col-12 text-center"><a class="btn btn-outline-secondary border-warning text-info" href="#contact">Message Me</a></div>
        </div>

        </div>
      </div>
    </section>

    <!-- Skills Section -->
    <section id="skills" class="py-5 hidden">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="display-4 typer">Skills</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 offset-lg-3">
            <p class="lead">I possess a diverse set of skills:</p>

            <!-- Bootstrap Progress Bars -->
          {% for skill,per in skills.items() %}
               
            <div class="progress">
              <div
                class="progress-bar bg-{{per|CSC}}"
                role="progressbar"
                style="width: 0%"
                aria-valuenow="0"
                aria-valuemin="0"
                aria-valuemax="100"
                data-percentage="{{per}}"
              >
                {{skill}} 
              </div>
              <span class="progress-label">0%</span>
            </div>


            <br />
            {% endfor %}
          </div>
        </div>
      </div>
    </section>

    <!-- Projects Section -->
    <section id="projects" class="py-5 bg-light hidden">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="display-4 typer">Projects</h2>
          </div>
        </div>
        <div class="row">
        {% for project in projects %}

          <div class="col-lg-4 col-md-6 mb-4">
            <!-- Project Card -->
            <div class="card">
              <img 
                src="data:image/png;base64,{{ project['image'] | convert_to_base64}}" 
                class="card-img-top" alt="Project 1" />
              <div class="card-body">
                <h5 class="card-title">{{project["title"]}}</h5>
                <p class="card-text">{{project["desc"]}}</p>
                <div class="row">
                  <div class="col-6">
                    <a href="{{project['project_url']}}" class="btn btn-outline-secondary card-btn">View</a>
                  </div>
                  <div class="col-6 d-flex flex-row-reverse">
                    <a href="{{project['github_url']}}" class="btn btn-outline-secondary card-btn ms-auto">Github</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %} 

        </div>
      </div>
    </section>

    <!-- Experience Section -->
    <!--
      <section id="experience" class="py-5 text-muted hidden">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="display-4 typer">Experience</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">

            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title">Job Title 1</h5>
                <p class="card-text">
                  Company Name - Location | MM/YYYY - MM/YYYY
                </p>
                <p class="card-text">
                  Description of responsibilities and achievements.
                </p>
              </div>
            </div>

            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title">Job Title 2</h5>
                <p class="card-text">
                  Company Name - Location | MM/YYYY - MM/YYYY
                </p>
                <p class="card-text">
                  Description of responsibilities and achievements.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    -->

    <!-- Certificates Section -->
    <section id="certificates" class="py-5 hidden">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="display-4 typer">Certificates</h2>
          </div>
        </div>
        <div class="row">
          {% for cert_displayed in certs_displayed %}
          <div class="col-12 col-md-6 col-lg-4">
            <!-- Certificate -->
            <div class="card mb-3">
              <img
                src="data:image/png;base64,{{ cert_displayed['image'] | convert_to_base64}}" 
                class="card-img-top"
                alt=""
              />
              <div class="card-body">
                <h5 class="card-title">Title...</h5>
                <p class="card-text">{{ cert_displayed['iss_org'] }} | {{ cert_displayed['date'] }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
          </div>
          <div class="collapse" id="certs">
            <div class="row">
            {% for cert_hidden in certs_hidden %}
              <div class="col-12 col-md-6 col-lg-4">
                <!-- Certificate -->
                <div class="card mb-3">
                  <img
                    src="data:image/png;base64,{{ cert_hidden['image'] | convert_to_base64}}" 
                    class="card-img-top"
                    alt=""
                  />
                  <div class="card-body">
                    <h5 class="card-title">Title...</h5>
                    <p class="card-text">{{ cert_hidden['iss_org'] }} | {{ cert_hidden['date'] }}</p>
                  </div>
                </div>
              </div>
            {% endfor %}
            </div>
          </div>
          <div class="col-12 text-center">
           <button id="certToggler" class="btn btn-outline-secondary border-warning text-warning m-1" type="button" data-bs-toggle="collapse" data-bs-target="#certs" aria-expanded="false" aria-controls="collapseProjectDetails{{i}}">
            More
          </button>
        </div>
        
        </div>
      </div>
    </section>

    <!-- Coding Profiles Section -->
    <section id="coding-profiles" class="py-5 hidden">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="display-4 typer">Coding Profiles</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 offset-lg-3 text-center">
            <p class="lead">Check out my profiles on coding platforms:</p>

            <!-- Coding Platform Links -->
            <div class="d-flex justify-content-around">
              <a
                href="https://www.codewars.com/users/your_username"
                target="_blank"
                class="btn btn-outline-primary"
                >CodeWars</a
              >
              <a
                href="https://leetcode.com/your_username/"
                target="_blank"
                class="btn btn-outline-primary"
                >LeetCode</a
              >
              <!-- Add more platform links as needed -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Contact Me Section -->
    <section id="contact" class="py-5 bg-light hidden">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="display-4 typer">Contact Me</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 offset-lg-3">
            <p class="lead">
              Feel free to reach out for collaboration or any inquiries.
            </p>
            <div class="toast-container text-center p-3">
              <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                  <img src="..." class="rounded me-2" alt="...">
                  <strong class="me-auto">NOTRIKS</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div id="thanks" class="toast-body">
                </div>
              </div>
            </div>

            <!-- Contact Form -->
            <form method="POST" name="contact-form" style="color:red">
              <!-- <div class="collapse" id="exp"> -->
              <!--   <div class="card card-body">Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.</div> -->
              <!-- </div> -->

              <div class="form-group">
                <input
                  type="text"
                  class="form-control mb-2"
                  name="name"
                  placeholder="Your Name"
                />
              <div class="form-group">
                <input
                  type="email"
                  class="form-control mb-2"
                  name="email"
                  placeholder="Your Email"
                />
              </div>
              <div class="form-group">
                <textarea
                  class="form-control mb-2"
                  rows="5"
                  name="message"
                  placeholder="Your Message"
                ></textarea>
              </div>
              <button type="button" class="btn btn-primary m-1" onClick="validateContactForm()">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </section>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
  $(document).ready(function () {
    // Function to animate progress bars
    function animateProgressBars() {
      $('.progress-bar').each(function () {
        var progressBar = $(this);
        var progressLabel = progressBar.next('.progress-label');
        var width = progressBar.data('percentage');
        progressBar.animate({ width: width + '%' }, {
          duration: 1000, // Adjust the animation duration as needed
          step: function (now) {
            var percentage = Math.round(now);
            progressLabel.text(percentage + '%');
            progressBar.attr('aria-valuenow', percentage);
          },
          complete: function () {
            progressLabel.text(width + '%');
          }
        });
      });
    }

    // Call the function when the skills section becomes visible
    $(window).on('scroll', function () {
      var skillsSection = $('#skills');
      if (skillsSection.length) {
        var skillsSectionTop = skillsSection.offset().top;
        var windowTop = $(window).scrollTop();

        if (windowTop > skillsSectionTop - $(window).height()) {
          animateProgressBars();
          $(window).off('scroll'); // Remove the scroll event listener once triggered
        }
      }
    });
  });
</script>
{% endblock %}
